$primary: #1BBC9B;
$grey: #ACADAC;
$font: 'Lato', sans-serif;

body {
  text-align:center;
  color:$grey;
  background-color:#fff;
  font-family:$font;
}

//PROFILE INFO
#profile {
  padding-top:7%;
  padding-bottom:2%;
  background-color:$primary;
}

#prof-photo {
  border: 2px solid #fff;
  border-radius:50%;
  width:200px;
  height:200px;
}

#fb-name {
  font-size:50px;
  color:#fff;
}

//INITIAL BUTTONS
#actions {
  background-color:$primary;
  text-align:center;
  margin: 0 auto;
}

#charge-btn, #pay-btn, #tran-btn {

}

.btn {
		display: inline-block;
		padding: 1%;
		margin:1% 0.5%;
    margin-bottom:3%;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Arial';
		font-size: 15px;
		letter-spacing: 0.1em;
		outline:none;
		cursor: pointer;
    z-index:100;
}

@media (max-width:1000px) {
	.btn {
		margin-top:7%;
	}
}

/****LIGHTEN/DARKEN****/
.a {
	//margin-left:2%;
	//margin-right:2%;
  border:2px solid #fff;
	border-radius:50px;
	color: #fff;
	background-color: $primary;
	transition: all ease 0.4s;

  &:hover {
    background-color: rgba(255,255,255,0.5);
    color:#fff;
  }
}

//DIFFERENT METHODS OF PAYMENT BUTTONS
.b {
  //margin-left:2%;
  //margin-right:2%;
  border:2px solid #fff;
  border-radius:50px;
  color: #fff;
  background-color: $primary;
  transition: all ease 0.4s;

  &:hover {
    background-color: rgba(27, 188, 155,0.3);
    border-color: rgba(27, 188, 155, 0.3);
    color:$primary;
  }
}

//TYPE BUTTONS
.type {
  padding-top:3%;
}
//SUCCESS MSG FOR CHARGE
.successMsg {
  margin-top:5%;
  margin-bottom:5%;
  font-size:25px;
}

//FRIEND LIST STYLING
.single {
  display:inline-block;
  width:100%;
}

label {
  padding-left:1%;
  font-size:20px;

  img {
    padding-right:1%;
  }
}

.friendList {
  padding-top:3%;
  padding-bottom:2%;
}




//INCOMING STYLING
.confirmTransactions h2, .pendTransactions h2 {
  text-align:center;
  margin-top:2%;
}

hr {
  margin-bottom:4%;
  width:7%;
  height:2px;
  background-color:$primary;
  border:none;
}

#confirm, #pending {
  text-align:center;
  margin:0 auto;
}


//CONFIRM SETUP
.singleCharge {
  display:block;
  .confImg {
    width:400px;
    height:300px;
    margin: 2% 30%;
  }

  .confProf, h2{
    display:inline-block;
  }

  h2 {
    padding-left: 1em;
  }

}
